<nav class="invoices-navigation sub-navigation">
  <ul>
    <li>
      <a href="/invoices" class="back-link"><span class="fa fa-arrow-left"></span> [[global:back]]</a>
    </li>
    <li>
      <a href="#advanced-search-controls" class="advanced-search-controls-toggle"><span class="fa fa-cogs"></span>
        [[global:advanced]]</a>
    </li>
  </ul>
</nav>
<article class="search-invoices">
  <header class="search-controls">
    <h1>[[search:title]]</h1>
    <input type="search" id="search-input"
           placeholder="[[search:input.placeholder]]"{{#if query}} value="{query}"{{/if}}>
    <button type="button" id="submit-search"><span class="fa fa-search"></span></button>
    <section id="advanced-search-controls">
      <h2>[[search:advanced_controls]]</h2>
      <div class="control-container">
        <div class="invoice-id-wrap">
          <label for="invoice-id">[[search:input.id_label]]</label>
          <input id="invoice-id" type="text" name="invoice-id" placeholder="[[search:input.id_placeholder]]">
        </div>
        <div class="invoice-sum-wrap">
          <label for="invoice-sum">[[search:input.sum_label]]</label>
          <select id="invoice-sum" name="invoice-sum">
            <option value="5">[[search:input.sum_below, 5]]</option>
            <option value="10">[[search:input.sum_below, 10]]</option>
            <option value="20">[[search:input.sum_below, 20]]</option>
            <option value="50">[[search:input.sum_below, 50]]</option>
            <option value="100">[[search:input.sum_below, 100]]</option>
            <option value="200">[[search:input.sum_below, 200]]</option>
            <option value="999">[[search:input.sum_above, 200]]</option>
          </select>
        </div>
        <div class="invoice-tags-wrap">
          <label for="invoice-tag">[[search:input.tag_label]]</label>
          <input id="invoice-tag" type="text" name="invoice-tag" placeholder="[[search:input.tag_placeholder]]">
        </div>
        <div class="invoice-date-wrap">
          <label for="invoice-date">[[search:input.date_label]]</label>
          <input id="invoice-date" type="date" name="invoice-date" placeholder="[[search:input.date_placeholder]]">
        </div>
      </div>
    </section>
  </header>
  <section class="search-results">
    {{#if results}}
      {{# unless singleResult}}
        <h2>[[search:multiple_results, {{results.length}}, {{query}}]]</h2>
      {{else}}
        <h2>[[search:single_result, {query}]]</h2>
      {{/unless}}
    {{else}}
      {{#if query}}
        <h2 class="no-results">[[search:no_results, {query}]]</h2>
      {{/if}}
    {{/if}}
    <ul class="invoices">
      {{#each results}}
        <li class="search-result invoice{{#if results.ownInvoice}} own-invoice{{/if}}"
            id="{{this._id}}">
          <section class="invoice-image">
            <img src="/images/invoices/{{user._id}}/{{this._id}}.jpg" alt="Rechnung {{this._id}}"
                 onerror="app.events.imageError(this)">
          </section>
          <section class="invoice-data">
            <div class="invoice-id">{{this._id}}</div>
            <div class="invoice-owner" id="{{this.user._id}}">
              <div class="profile-picture">
                <img src="/images/users/{{this.user._id}}.jpg" alt>
              </div>
              <span class="owner-name">{{this.user.firstName}} {{this.user.lastName}}</span>
            </div>
            [[invoices:date]]: <span class="invoice-creation-date">{{this.creationDate}}</span><br>
            [[invoices:sum]]: {{#if this.sum}}<span
            class="invoice-sum">{{this.sum}} €</span>{{else}}[[search:no_sum]]{{/if}}
            <br>
            <div class="tags-label">[[invoices:tags]]:</div>
            <div class="invoice-tags">
              {{#if tags}}
                {{#each  this.tags}}
                  <div class="tag tag-{{this.color}}" id="{{this._id}}">
                    <span>{{this.name}}</span>
                  </div>
                {{/each}}

              {{else}}
                <span class="no-tags">[[search:no_tags]]</span>
              {{/if}}
            </div>
          </section>
          <section class="invoice-actions" data-own="{{this.ownInvoice}}">
            <a class="button" href="/invoices/{{results._id}}"><span
              class="fa fa-eye"></span> [[global:details]]</a>
            {{#if this.ownInvoice}}
              <a class="button" href="/invoices/{{this._id}}/edit"><span
                class="fa fa-edit"></span> [[global:edit]]</a>
              <a class="button danger"
                 href="/invoices/{{this._id}}/delete"><span
                class="fa fa-trash-o"></span> [[global:delete]]</a>
            {{/if}}
          </section>
        </li>
      {{/each}}
    </ul>
  </section>
</article>
